.searchgrid .galleryphoto-responsive {
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}
.searchgrid .responsive-container {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 138.4615384615385%;
    background-color: #f6f5f5;
}
.searchgrid .galleryphoto-responsive {
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.responsive-image {
    height: auto;
    width: 100%;
}