nav #search_block_top {
    padding: 5px;
    float: right;
}
/*nav #search_block_top search_query {
    height: 20px;
}*/
nav #search_block_top .btn.button-search {
    padding-top: 5px;
    padding-bottom: 5px;
}
nav #search_block_top .btn.button-search:before {
    font-size: 25px;
}
.container .shopping_cart {
    /*display: none;*/
    
}
.shop-phone {
    float: left;
    padding: 0px;
    line-height: 18px;
}
.shop-phone i {
    font-size: 40px;
    padding-top: 10px;

}
nav #contact-link, nav .shop-phone, nav .login {
    font-size: 16px;
}
nav .shopping_cart {
    padding: 0px !important;
}
nav .clearfix {
    float:right;
}

#ffooter div {
    
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;    

}

h1.title{
    font-size: 20px;
    color: black;
}

.primary_block.row {
    padding-top: 18px;
}

.table-data-sheet h2 {
    font-size: 13px;
    font-weight: 500;
    margin: 0px;
    padding:0px;
}

h3.page-product-heading{
    margin:0px;
}

.table-data-sheet {
    border-bottom: 1px solid #d6d4d4;
    border-left: 1px solid #d6d4d4;
    border-right: 1px solid #d6d4d4;

}

.page-product-box div.rte {
    border: 1px solid #d6d4d4;
    /* border-left: 1px solid #d6d4d4; */
    padding-top: 20px !important;
}

.breadcrumb.clearfix{
margin: 0px;    
}

h1{
    margin-top:5px;
}



@media screen and (max-width: 768px) {
    #categories_block_left li span.grower.CLOSE:before {
        content: "\f067";
        color: silver;
        font-size: 15px;
    }
    #categories_block_left li span {
        width: 50px;
        height: 50px;
    }
    #categories_block_left li a {
        font-weight: bold;
        color: #333;
        display: block;
        font-size: 15px;
        line-height: 30px;
        padding: 0 30px 0 19px;
        border-bottom: 1px solid #d6d4d4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .breadcrumb a.home {
        width: 48px;
    } 

    .footer-container #footer h4:after {
        font-size: 25px;
    } 
    .icon-home:before {

        font-size: 20px;
    } 
    .pagination li{

        /*width: 48px;*/
        height: 50px;
        font-size: 30px;
     
    }   
    .pagination li span{
        /*width: 46px;*/      
    }
    .pagination li{

        padding-bottom: 5px;
        padding-right: 5px;
       
    } 
    .pagination i{
        font-size: 30px;
        /*width: 50px;*/
        height: 50px;
        padding-top: 10px; 
    }  
    
    #selectProductSort, #nb_item {
        font-size: 25px;
        width: 100%;
        max-width: 300px !important;
        height: 40px;
    }    
    
    .nbrItemPage .selector1  {
        display: inline-flex;
        width: 300px;
        padding-bottom: 30px;
    }     
    .nbrItemPage .selector1 span {

        width: 150px;

    } 
    .top-pagination-content ul.pagination li > a span, .top-pagination-content ul.pagination li > span span, .bottom-pagination-content ul.pagination li > a span, .bottom-pagination-content ul.pagination li > span span {
        padding: 2px 12px 2px 12px !important;
    }    
    
    
}


    