
    <p></p>
<div class="translate-tooltip-mtz translator-hidden">
<div class="header">
<div class="header-controls">Translator</div>
<div class="header-controls"><span class="settings"></span></div>
</div>
<div class="translated-text">
<div class="words"></div>
<div class="sentences"></div>
</div>
</div>
<p><span class="translate-button-mtz translator-hidden"></span></p>
<table class="table table-mail" style="width:100%;margin-top:10px;">
<tbody>
<tr>
<td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff">
<tbody>
<tr>
<td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /> </a></td>
</tr>
<tr>
<td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour {firstname} {lastname},</span><br /> <span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Merci d'avoir créé votre compte client sur {shop_name}.</span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;">
<tbody>
<tr>
<td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Vos codes d'accès sur {shop_name}.</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> Vos codes d'accès :<br /> <span style="color:#333;"><strong>Adresse e-mail : <a href="mailto:{email}" style="color:#337ff1;">{email}</a></strong></span><br /> <span style="color:#333;"><strong>Mot de passe :</strong></span> *** </span> </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;">
<tbody>
<tr>
<td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Conseils de sécurité importants :</p>
<ol style="margin-bottom:0;">
<li>Vos informations de compte doivent rester confidentielles.</li>
<li>Ne les communiquez jamais à qui que ce soit.</li>
<li>Changez votre mot de passe régulièrement.</li>
<li>Si vous pensez que quelqu'un utilise votre compte illégalement, veuillez nous prévenir immédiatement.</li>
</ol></td>
<td style="padding:7px 0;" width="10"> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span>Vous pouvez dès à présent passer commande sur notre boutique : <a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> </span></td>
</tr>
</tbody>
</table>
</td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr>
</tbody>
</table>
<p></p>
