
            <table class="table table-mail" style="width:100%;margin-top:10px;">
<tbody>
<tr>
<td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff">
<tbody>
<tr>
<td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /> </a></td>
</tr>
<tr>
<td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Votre message à l'attention du service client de {shop_name}</span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;">
<tbody>
<tr>
<td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span style="color:#777;"> Votre message a bien été envoyé à notre service client.<br /><br /> <span style="color:#333;"><strong>Message :</strong></span> {message}<br /><br /> <span style="color:#333;"><strong>Commande # :</strong></span> {order_name}<br /> <span style="color:#333;"><strong>Produit :</strong></span> {product_name}<br /> <span style="color:#333;"><strong>Pièce jointe :</strong></span> {attached_file} </span> </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> Nous vous répondrons dans les meilleurs délais. </span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding:0;"> </td>
</tr>
<tr>
<td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> réalisé avec <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span></td>
</tr>
</tbody>
</table>
</td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr>
</tbody>
</table>


